<div class="row">
    <div class="columns small-14"><h2>My Account</h2></div>
</div>

<div class="row">
    <div class="columns small-14">
        <form name="accountForm" novalidate="">
            <fieldset>
                <legend>Contact Information</legend>
                <div class="medium-7 columns">
                    <label>First Name
                        <input type="text" name="firstName" required="" data-ng-model="user.first" />
                    </label>
                    <small data-ng-show="accountForm.firstName.$error.required" class="error">Please enter your first name.</small>
                </div>
                <div class="medium-7 columns">
                    <label>Last Name
                        <input name="lastName" type="text" required="" data-ng-model="user.last" />
                        <small data-ng-show="accountForm.lastName.$error.required" class="error">Please enter your last name.</small>
                    </label>
                </div>
                <div class="small-14 columns">
                    <label>Email<input type="email" name="email" required="" data-ng-model="user.email" /></label>
                    <div class="error-container" ng-show="accountForm.email.$invalid">
                        <small class="error" ng-show="accountForm.email.$error.required">Your email is required.</small>
                        <small class="error" ng-show="accountForm.email.$error.email">Please input a valid email.</small>
                    </div>
                </div>
                <div class="medium-7 columns">
                    <div class="row collapse">
                        <label>Phone (mobile)</label>
                        <div class="columns small-1 medium-2"><span class="prefix">+1</span></div>
                        <div class="columns small-13 medium-12">
                            <input name='phoneMobile' type="text" required="" data-ng-model="user.phone1" data-ng-pattern="/^[1-9]\d{2}-\d{3}-\d{4}/" />
                            <div class="error-container" ng-show="accountForm.phoneMobile.$invalid">
                                <small class="error" ng-show="accountForm.phoneMobile.$error.required">Please enter your phone number</small>
                                <small class="error" ng-show="accountForm.phoneMobile.$error.pattern">Please use the format: 604-123-4567</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="medium-7 columns">
                    <div class="row collapse">
                        <label>Phone (office)</label>
                        <div class="columns small-1 medium-2"><span class="prefix">+1</span></div>
                        <div class="columns small-13 medium-12">
                            <input name="phoneOffice" type="text" data-ng-model="user.phone2" data-ng-pattern="/^[1-9]\d{2}-\d{3}-\d{4}/" />
                            <small data-ng-show="accountForm.phoneOffice.$invalid" class="error">Please use the format: 604-123-4567</small>
                        </div>

                    </div>
                </div>
                <div class="columns small-14">
                    <button data-ng-click="updateUser()" ng-disabled="accountForm.$invalid || accountForm.$pristine" class="button small right">Update Information</button>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="columns small-14">
        <form name="passwordForm" novalidate="">
            <fieldset>
                <legend>Password</legend>

                <div class="columns medium-7">
                    <label>New password<input type="password" name='pass' data-ng-model='pass' data-ng-minlength=4 required=''/></label>
                    <small class="error" ng-show="passwordForm.pass.$dirty && passwordForm.pass.$invalid"> Please use at least 4 characters for your password.</small>
                </div>
                <div class="columns medium-7">
                    <label>Repeat password<input type="password" data-ng-model='pwdRepeat' name='pwdRepeat' ng-keyup="checkMatch()" ng-disabled="passwordForm.pass.$invalid || passwordForm.pass.$pristine"/></label>
                    <small class="error" ng-show="passwordForm.pwdRepeat.$dirty && pwdMatchErr">Password does not match.</small>
                </div>
                <div class="columns small-14">
                    <button data-ng-click='updatePassword()' ng-disabled="passwordForm.$invalid || pwdMatchErr" class="button small right">Update Password</button>
                </div>
            </fieldset>
        </form>
    </div>

</div>

