<div class="row">
    <div class="small-14 large-10 columns">
        <h3>Today</h3>
        <div class="todo-list-today">

            <dl>
                <dd data-ng-repeat="job in jobsToday | orderBy:'scheduledDate'">
                    <a href="#/job/{{job.id}}" class="button small secondary expand">{{job.title}}</a>
                    <span ng-hide="commentStatus[job.id]" ng-click="toggleComplete(job.id)" class="button small check" ng-class="{'success': job.completed, 'secondary': !job.completed}">
                        <i class="fa" ng-class="{'fa-check-square-o': job.completed, 'fa-square-o': !job.completed}"></i>
                    </span>
                    <span ng-show="commentStatus[job.id] == 1" class="button small check disabled"><i class="fa fa-calendar"></i></span>
                    <span ng-show="commentStatus[job.id] == 2" class="button small check disabled alert"><i class="fa fa-times-circle-o"></i></span>
                    <span vma-todo-toggle="" class="button small secondary toggle"><i class="right fa fa-toggle-down"></i></span>

                    <div class="todo-more hide">
                        <tabset>
                            <tab select="setStatus(job.id, 0)">
                                <tab-heading><i class="fa fa-comment"></i></tab-heading>
                                <h5>Leave a comment</h5>
                                <textarea name="comment" cols="30" rows="10" ng-model='job.employeeComment'></textarea>
                            </tab>
                            <tab select="setStatus(job.id, 1)">
                                <tab-heading><i class="fa fa-calendar"></i></tab-heading>
                                <h5>Reschedule job</h5>
                                <input type="date"/>
                                <textarea name="comment" cols="30" rows="10" ng-model='job.employeeComment'></textarea>
                            </tab>
                            <tab select="setStatus(job.id, 2)">
                                <tab-heading><i class="fa fa-times-circle-o"></i></tab-heading>
                                <h5>Cancel job</h5>
                                <textarea name="comment" cols="30" rows="10" ng-model='job.employeeComment'></textarea>
                            </tab>
                        </tabset>
                    </div>
                </dd>
            </dl>
            <button class="button" ng-show="dirty">Submit Report</button>
        </div>

    </div>


    <div class="small-14 large-4 columns">
        <h4>Upcoming</h4>
        <div class="panel">
            <ul class="upcoming-list no-bullet">
                <li ng-repeat-start="(date, jobs) in jobsUpcoming">{{date | date: 'EEE, MMM d'}}
                    <ul>
                        <li ng-repeat="job in jobs"><a href="#/job/{{job.id}}">{{job.title}}</a></li>
                    </ul>
                </li>
                <div ng-repeat-end />
            </ul>

        </div>

    </div>
</div>
