<div class="row">
    <div class="columns small-14 medium-7">
      <h2>
        {{job.title}}
      </h2>
      <ul class="inline-list">
          <li><span class="label secondary radius">Type</span> {{job.serviceInfo.type}}</li>
          <li ng-show="!job.scheduled"><span class="label alert radius">Not scheduled</span></li>
          <li ng-show="job.scheduled && !job.completed"><span class="label radius">Scheduled</span> {{job.scheduledDate | date: mediumDate}}</li>
          <li ng-show="job.completed"><span class="label success radius">Completed</span> {{job.completeDate | date: mediumDate}}</li>
      </ul>
    </div>






    <div class="columns small-14 medium-7">
      <div class="panel">
        <h4>Contact Information</h4>
        <address>
          <ul class="no-bullet">
            <li><strong>{{job.serviceInfo.contactName}}</strong></li>
            <li><i class="fa fa-phone"></i> <a href="tel:{{job.serviceInfo.phone}}">{{job.serviceInfo.phone}}</a></li>
            <li><i class="fa fa-envelope"></i> <a href="mailto:{{job.serviceInfo.email}}">{{job.serviceInfo.email}}</a></li>
            <li><i class="fa fa-map-marker"></i> <a href="http://maps.apple.com/?q={{job.serviceInfo.address}}">{{job.serviceInfo.address}}</a></li>
          </ul>
        </address>
      </div>
    </div>
    <div class="columns small-14 medium-7" ng-show="job.employeeComment"><h4>Comment</h4><p>{{job.employeeComment}}</p></div>
    <div class="columns small-14 medium-7" ng-show="job.adminComment"><h4>Admin Comment</h4><p>{{job.adminComment}}</p></div>


    <h4 class="columns small-14">Job Description</h4>
    <div class="columns small-14 medium-10 large-8"><p>{{job.serviceInfo.description}}</p></div>
    <div class="columns small-14 medium-4 large-6">
      <ul class="small-block-grid-2 medium-block-grid-1 large-block-grid-2">
        <li ng-repeat="pic in job.serviceInfo.picture">
          <span class="th" href="#" ><img ng-click="open(pic)" src="{{pic}}"></span>
        </li>
      </ul>
    </div>
</div>

