<div class="row">
    <div class="columns small-14"><h2>Reports <small>{{monthHeader}}</small></h2></div>
</div>

<div class="row">
    <div class="columns small-14">
        <ul class="button-group">
            <li><a class="button tiny" href="{{prevMonth.link}}"><i class="fa fa-arrow-left"></i> {{prevMonth.text}}</a></li>
            <li><a class="button tiny" href="{{currentMonth.link}}"><i class="fa fa-calendar"></i></a></li>
            <li><a class="button tiny" href="{{nextMonth.link}}">{{nextMonth.text}} <i class="fa fa-arrow-right"></i></a></li>
        </ul>
        <div class="panel callout radius" ng-show="(jobs | filter:monthFilter).length == 0">
            No completed jobs in this month.
        </div>
        <div ng-show="(jobs | filter:monthFilter).length > 0">
            <table class="reports-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Job</th>
                        <th>Rate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="job in jobs | filter:monthFilter | orderBy:'completeDate'">
                        <td>{{job.completeDate}}</td>
                        <td>{{job.title}}</td>
                        <td>{{'20' | currency}}</td>
                        <td><a href="#/job/{{job.id}}">Details</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">Total</th>
                        <th colspan="2">{{total | currency}}</th>
                    </tr>
                </tfoot>

            </table>
            <div class="button tiny"><i class="fa fa-download"></i> Download as CSV</div>
        </div>
    </div>
</div>
