<div class="row">

    <div class="small-14 columns">
        <h2>Schedule <small>{{monthHeader}}</small></h2>
        <ul class="button-group">
            <li ng-repeat="month in calNav"><a class="button tiny" href="{{month.link}}">{{month.text}}</a></li>
        </ul>
        <label><input type="checkbox" ng-model="showWeekends" /> Show Weekends</label>
    </div>
    <div class="small-14 medium-10 columns">
        <div class="row collapse">

            <div class="columns small-14 medium-7 calendar">
                <div ng-repeat="day in cal | filter:monthFirst | filter:weekendToggle"
                     ng-class="{weekend: day.weekend}"
                     data-drop="true" jqyoui-droppable="{onDrop: 'dropCallback'}" data-jqyoui-options="{hoverClass: 'hoverClass'}"
                     data-day-id="{{day.date}}"
                     class="day"
                     ng-model="dummy2">
                    <span class="label secondary">{{day.title}}</span>
                    <div class="job-event" ng-repeat="(id,event) in day.events">{{event.title}} <span class="close" ng-click="removeJob(day.date, id, event.jobId)">&times;</span></div>
                </div>
            </div>
            <div class="calendar columns small-14 medium-7">
                <div ng-repeat="(dID, day) in cal | filter:monthSecond | filter:weekendToggle"
                     ng-class="{weekend: day.weekend}"
                     data-drop="true" jqyoui-droppable="{onDrop: 'dropCallback'}" data-jqyoui-options="{hoverClass: 'hoverClass'}"
                     data-day-id="{{day.date}}"
                     class="day"
                     ng-model="dummy2">
                    <span class="label secondary">{{day.title}}</span>
                    <div class="job-event" ng-repeat="(id,event) in day.events">{{event.title}} <span class="close" ng-click="removeJob(day.date, id, event.jobId)">&times;</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="small-14 medium-4 columns">
        <div class="job-schedule">
            <div jqyoui-draggable
                 data-jqyoui-options="{cursor: 'move', revert: 'invalid'}"
                 data-drag="true"
                 class="job"
                 ng-model="dummy"
                 data-job-id="{{job.id}}"
                 ng-hide="job.scheduled"
                 ng-repeat="job in jobs | filter: dueRangeFilter | orderBy:'dueRange.start' | orderBy:'dueRange.end'">
                <small>{{job.dueRange.start | date: "MMM d"}} - {{job.dueRange.end | date: "MMM d"}}</small>
                <br/>
                {{job.title}} <i class="fa fa-arrows"></i>
            </div>
        </div>
    </div>

    <div class="columns small-14"><button class="button" ng-show="dirty">Submit schedule for {{cal[0].date | date:'MMMM'}}</button></div>
</div>