<div class="row">
    <div class="small-14 columns">
        <h2>Services / Jobs</h2>
    </div>
    <div class="small-14 medium-8 columns">
        <h4>Services</h4>
        <div class="panel">
            <p>List of all services assigned to this employee.</p>
        </div>
    </div>
    <div class="columns small-14 medium-6">
        <h4>Jobs</h4>
        <div class="panel callout">
            <p>Table of upcoming and unscheduled jobs.</p>
        </div>
    </div>
</div>