<div class="row">
    <div class="columns small-14">
        <h3>{{title}}</h3>
        <form name="accountForm" novalidate="">
            <fieldset>
                <legend>Account Information</legend>
                <div class="small-14 columns" ng-hide="hideStatus">
                    <label>Account Status</label>
                    <input data-ng-model="user.active" id="active-user" type="checkbox"/><label
                        for="active-user">Active</label>
                </div>

                <div class="medium-7 columns">
                    <label>First Name
                        <input type="text" name="firstName" required="" data-ng-model="user.first" />
                    </label>
                    <small data-ng-show="accountForm.$dirty && accountForm.firstName.$error.required" class="error">Please enter your first name.</small>
                </div>

                <div class="medium-7 columns">
                    <label>Last Name
                        <input name="lastName" type="text" required="" data-ng-model="user.last" />
                        <small data-ng-show="accountForm.$dirty && accountForm.lastName.$error.required" class="error">Please enter your last name.</small>
                    </label>
                </div>

                <div class="small-14 columns">
                    <label>Email<input type="email" name="email" required="" data-ng-model="user.email" /></label>
                    <div class="error-container" ng-show="accountForm.email.$invalid">
                        <small class="error" ng-show="accountForm.$dirty && accountForm.email.$error.required">Your email is required.</small>
                        <small class="error" ng-show="accountForm.$dirty && accountForm.email.$error.email">Please input a valid email.</small>
                    </div>
                </div>


            </fieldset>
            <fieldset>
                <legend>Password</legend>

                <div class="columns medium-7">
                    <label>New password<input type="password" name='pass' ng-required="passRequired" data-ng-model='pass' data-ng-minlength=6/></label>
                    <div class="error-container" ng-show="accountForm.pass.$invalid">
                        <small class="error" ng-show="accountForm.$dirty && accountForm.pass.$error.required">Please enter a password.</small>
                        <small class="error" ng-show="accountForm.pass.$dirty && accountForm.pass.$invalid"> Please use at least 6 characters for your password.</small>
                    </div>
                </div>
                <div class="columns medium-7">
                    <label>Repeat password<input type="password" data-ng-model='pwdRepeat' name='pwdRepeat' ng-keyup="checkMatch()"/></label>
                    <small class="error" ng-show="accountForm.pwdRepeat.$dirty && accountForm.pwdRepeat.$invalid">Password does not match.</small>
                </div>
            </fieldset>
            <div class="columns small-14">
                <button data-ng-click="deleteUser()" ng-hide="hideStatus" class="button alert small right">Delete Account</button>
                <button data-ng-click="updateUser()" ng-disabled="accountForm.$invalid || accountForm.$pristine" class="button small right">{{btnText}}</button>

            </div>
        </form>
    </div>

    <!--<div class="columns small-14" ng-show="formEdit">-->
        <!--<form name="passwordForm" novalidate="">-->
            <!--<fieldset>-->
                <!--<legend>Password</legend>-->

                <!--<div class="columns medium-7">-->
                    <!--<label>New password<input type="password" name='pass' data-ng-model='pass' data-ng-minlength=6 required=''/></label>-->
                    <!--<small class="error" ng-show="passwordForm.pass.$dirty && passwordForm.pass.$invalid"> Please use at least 6 characters for your password.</small>-->
                <!--</div>-->
                <!--<div class="columns medium-7">-->
                    <!--<label>Repeat password<input type="password" data-ng-model='pwdRepeat' name='pwdRepeat' ng-keyup="checkMatch()" ng-disabled="passwordForm.pass.$invalid || passwordForm.pass.$pristine"/></label>-->
                    <!--<small class="error" ng-show="passwordForm.pwdRepeat.$dirty && pwdMatchErr">Password does not match.</small>-->
                <!--</div>-->
                <!--<div class="columns small-14">-->
                    <!--<button data-ng-click='updatePassword()' ng-disabled="passwordForm.$invalid || pwdMatchErr" class="button small right">Update Password</button>-->
                <!--</div>-->
            <!--</fieldset>-->
        <!--</form>-->
    <!--</div>-->

</div>

