<div class="row">
    <div class="small-14 columns">
        <h3>Administrators</h3>
        <table id="admin-accounts">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Active?</th>
                    <th>OP</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="account in admins">
                    <td>{{account.last}}</td>
                    <td>{{account.first}}</td>
                    <td>{{account.email}}</td>
                    <td>{{account.active}}</td>
                    <td><a href="#/accounts/{{account.id}}">Edit</a></td>
                </tr>
            </tbody>
        </table>

        <p><a class="button tiny radius" href="#/accounts/new"><i class="fa fa-plus"></i> Add Admin Account</a></p>
    </div>
</div>
