body{
  background-color: #f7f7f7;
}

.top-bar{
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 43px;
  overflow: hidden;
  border-bottom: 2px solid #a2a2a2;

  h1{
    display: inline;
    color: $grey-font;
    font-weight: 100;
    font-size: 30px;
  }

  #menu-toggle{
    @include button(rem-calc(11), $primary-color, false);
    color: $grey-font;
    @media #{$large-up} {
      visibility: hidden;
    }
  }

  .cog-button{
    @include button(rem-calc(11), $primary-color, false);
    color: $grey-font;
  }
}

#main-nav{
  width: 220px;
  height: 100%;
  background-color: #4a4a4a;
  position: fixed;
  left: -220px;
  top: 43px;
  min-height: 307px;
  z-index: 90;
  @include single-box-shadow(#333, -3px, 2px, 10px, 0px, true);
  @include single-transition();
  &.nav-visible{
    left: 0;
  }
  @media #{$large-up} {
    left: 0;
    @include single-transition();
  }

  .side-nav{
    padding-top: 0;
    li{
      border-top: 1px solid #747474;
      border-bottom: 1px solid #3A3A3A;
      padding: 10px 0 10px 20px;
      margin: 0;
      text-transform: uppercase;
      background-color: #5A5A5A;

      &.active{
        background-color: $primary-color;
      }

      a{
        color: $grey-font;
        &:hover{
          color: #fff;
        }
        i{
          padding-right: 10px;
        }
      }
    }
  }
  .copy{
    color: $grey-font;
    width: 220px;
    position: absolute;
    bottom: 29px;
    p{
      font-size: .8rem;
    }
  }
}

#content{
  padding: rem-calc(12) 0;
  margin-top: 43px;
  margin-left: 0px;
  @include single-transition();

  &.nav-visible{
    margin-left: 220px;
    margin-right: -220px;
  }

  @media #{$medium-up} {
    &.nav-visible{
      margin-left: 220px;
      margin-right: 0;
    }
  }

  @media #{$large-up} {
    margin-left: 220px;
    @include single-transition();
  }
  .row{
    max-width: none;
  }
}

#content-full{
  padding: rem-calc(12) 0;
  margin-top: 45px;
  width: 100%;
}


.todo-list-today{
  dd{
    position: relative;
    margin-bottom: 0;
    a.button{
      font-size: 1rem;
      height: 44px;
      line-height: 17px;
    }

  }
  span.button{
    font-size: 1rem;
    position: absolute;
    top: 0;
    height: 44px;
    padding-left: 1rem;
    padding-right: 1rem;
    &.check{
      left: 0;
      border-right: 1px solid #cecece;
    }
    &.toggle{
      right: 0;
      border-left: 1px solid #cecece;
    }
  }
  .todo-more{
    margin-top: -1.25rem;
    background-color: #eee;

    .tabs dd > a{
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
    .tabs-content {
      padding: 0 1rem;
    }
  }
}

input.ng-invalid{
  margin-bottom: 0px;
}

.calendar{
  border-bottom: 1px solid #ccc;
  .day{
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 5px 5px 5px 60px;
    position: relative;
    min-height: 40px;

    &.weekend{
      background-color: #eee;
    }

    &.hoverClass{
      background-color: #e5d8b5;
    }
    .label{
      width: 55px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .job-event{
      background-color: $info-color;
      padding: 5px;
      margin-bottom: 5px;
      font-size: smaller;
      span{
        float: right;
        cursor: pointer;
        &:hover{
          color: $alert-color;
        }
      }
    }
  }
}

.fc-day-grid-event {
  .fc-content{
    white-space: normal;
    font-size: 13px;
    padding: 1px;

  }
}

.job-schedule{
  .job{
    padding: 5px 5px 10px 5px;
    margin-bottom: 5px;
    background-color: $info-color;
    position: relative;
    i{
      position: absolute;
      right: 5px;
      top: 15px;
      color: #999;
      display: none;
    }
    &:hover{
      background-color: darken($info-color, 10%);
      cursor: pointer;
      i{
        display: inline;
      }
    }
  }
}

.reports-table{
  width: 100%;
}

.no-break{
  white-space: nowrap;
}