@charset "UTF-8";
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 11, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 30, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 51, ../scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 56, ../scss/_normalize.scss */
script {
  display: none !important;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 70, ../scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 80, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 92, ../scss/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 100, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 108, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 122, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 131, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 139, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 148, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 156, ../scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 166, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 175, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 187, ../scss/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 195, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 203, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 211, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 219, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 223, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 235, ../scss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 243, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 255, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 267, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 278, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 289, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 303, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 315, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 328, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 340, ../scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 350, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 362, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 374, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 383, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 394, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 407, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 110, ../scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 111, ../scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 112, ../scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 113, ../scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  /* line 116, ../scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 117, ../scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 118, ../scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 119, ../scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 123, ../scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 124, ../scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 125, ../scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 126, ../scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 130, ../scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 131, ../scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 132, ../scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 133, ../scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 137, ../scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 138, ../scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 139, ../scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 140, ../scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 144, ../scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 151, ../scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 152, ../scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 153, ../scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 154, ../scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 158, ../scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 159, ../scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 160, ../scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 161, ../scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 165, ../scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 166, ../scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 167, ../scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 168, ../scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 172, ../scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 173, ../scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 174, ../scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 175, ../scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 179, ../scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 180, ../scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 181, ../scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 182, ../scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* line 110, ../scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 111, ../scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 112, ../scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 113, ../scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  /* line 116, ../scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 117, ../scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 118, ../scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 119, ../scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 123, ../scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 124, ../scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 125, ../scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 126, ../scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 130, ../scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 131, ../scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 132, ../scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 133, ../scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 137, ../scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 138, ../scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 139, ../scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 140, ../scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 144, ../scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 145, ../scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 146, ../scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 147, ../scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 151, ../scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 152, ../scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 153, ../scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 154, ../scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 158, ../scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 159, ../scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 160, ../scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 161, ../scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 165, ../scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 166, ../scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 167, ../scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 168, ../scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 172, ../scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 173, ../scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 174, ../scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 175, ../scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 179, ../scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 180, ../scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 181, ../scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 182, ../scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* Foundation Visibility HTML Classes */
/* line 15, ../scss/foundation/components/_visibility.scss */
.show-for-small,
.show-for-small-only,
.show-for-medium-down,
.show-for-large-down,
.hide-for-medium,
.hide-for-medium-up,
.hide-for-medium-only,
.hide-for-large,
.hide-for-large-up,
.hide-for-large-only,
.hide-for-xlarge,
.hide-for-xlarge-up,
.hide-for-xlarge-only,
.hide-for-xxlarge-up,
.hide-for-xxlarge-only {
  display: inherit !important;
}

/* line 31, ../scss/foundation/components/_visibility.scss */
.hide-for-small,
.hide-for-small-only,
.hide-for-medium-down,
.show-for-medium,
.show-for-medium-up,
.show-for-medium-only,
.hide-for-large-down,
.show-for-large,
.show-for-large-up,
.show-for-large-only,
.show-for-xlarge,
.show-for-xlarge-up,
.show-for-xlarge-only,
.show-for-xxlarge-up,
.show-for-xxlarge-only {
  display: none !important;
}

/* Specific visibility for tables */
/* line 49, ../scss/foundation/components/_visibility.scss */
table.show-for-small, table.show-for-small-only, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
  display: table;
}

/* line 66, ../scss/foundation/components/_visibility.scss */
thead.show-for-small, thead.show-for-small-only, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
  display: table-header-group !important;
}

/* line 83, ../scss/foundation/components/_visibility.scss */
tbody.show-for-small, tbody.show-for-small-only, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
  display: table-row-group !important;
}

/* line 100, ../scss/foundation/components/_visibility.scss */
tr.show-for-small, tr.show-for-small-only, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
  display: table-row !important;
}

/* line 118, ../scss/foundation/components/_visibility.scss */
td.show-for-small, td.show-for-small-only, td.show-for-medium-down, td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xxlarge-up,
th.show-for-small,
th.show-for-small-only,
th.show-for-medium-down,
th.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge,
th.hide-for-xlarge-up,
th.hide-for-xxlarge-up {
  display: table-cell !important;
}

/* Medium Displays: 641px and up */
@media only screen and (min-width: 40.063em) {
  /* line 133, ../scss/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-up,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 148, ../scss/foundation/components/_visibility.scss */
  .show-for-small,
  .show-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-up,
  .hide-for-medium-only,
  .hide-for-large-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 166, ../scss/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.show-for-medium, table.show-for-medium-down, table.show-for-medium-up, table.show-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  /* line 182, ../scss/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.show-for-medium, thead.show-for-medium-down, thead.show-for-medium-up, thead.show-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 198, ../scss/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.show-for-medium, tbody.show-for-medium-down, tbody.show-for-medium-up, tbody.show-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 214, ../scss/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.show-for-medium, tr.show-for-medium-down, tr.show-for-medium-up, tr.show-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 231, ../scss/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.show-for-medium, td.show-for-medium-down, td.show-for-medium-up, td.show-for-medium-only, td.hide-for-large, td.hide-for-large-up, td.hide-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.show-for-medium,
  th.show-for-medium-down,
  th.show-for-medium-up,
  th.show-for-medium-only,
  th.hide-for-large,
  th.hide-for-large-up,
  th.hide-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* Large Displays: 1024px and up */
@media only screen and (min-width: 64.063em) {
  /* line 250, ../scss/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 265, ../scss/foundation/components/_visibility.scss */
  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 280, ../scss/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large, table.show-for-large-up, table.show-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  /* line 296, ../scss/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large, thead.show-for-large-up, thead.show-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 312, ../scss/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large, tbody.show-for-large-up, tbody.show-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 328, ../scss/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large, tr.show-for-large-up, tr.show-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 345, ../scss/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large, td.show-for-large-up, td.show-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large,
  th.show-for-large-up,
  th.show-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* X-Large Displays: 1441 and up */
@media only screen and (min-width: 90.063em) {
  /* line 364, ../scss/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .hide-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 378, ../scss/foundation/components/_visibility.scss */
  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 393, ../scss/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-large-only, table.show-for-xlarge, table.show-for-xlarge-up, table.show-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  /* line 408, ../scss/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-large-only, thead.show-for-xlarge, thead.show-for-xlarge-up, thead.show-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 423, ../scss/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-large-only, tbody.show-for-xlarge, tbody.show-for-xlarge-up, tbody.show-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 438, ../scss/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-large-only, tr.show-for-xlarge, tr.show-for-xlarge-up, tr.show-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 454, ../scss/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-large-only, td.show-for-xlarge, td.show-for-xlarge-up, td.show-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.hide-for-large-only,
  th.show-for-xlarge,
  th.show-for-xlarge-up,
  th.show-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* XX-Large Displays: 1920 and up */
@media only screen and (min-width: 120.063em) {
  /* line 472, ../scss/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .hide-for-large-only,
  .hide-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 485, ../scss/foundation/components/_visibility.scss */
  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 499, ../scss/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-xlarge-only, table.show-for-xlarge-up, table.show-for-xxlarge-up, table.show-for-xxlarge-only {
    display: table;
  }

  /* line 512, ../scss/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-xlarge-only, thead.show-for-xlarge-up, thead.show-for-xxlarge-up, thead.show-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 525, ../scss/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-xlarge-only, tbody.show-for-xlarge-up, tbody.show-for-xxlarge-up, tbody.show-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 538, ../scss/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-xlarge-only, tr.show-for-xlarge-up, tr.show-for-xxlarge-up, tr.show-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 552, ../scss/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-xlarge-only, td.show-for-xlarge-up, td.show-for-xxlarge-up, td.show-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.hide-for-xlarge-only,
  th.show-for-xlarge-up,
  th.show-for-xxlarge-up,
  th.show-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* Orientation targeting */
/* line 568, ../scss/foundation/components/_visibility.scss */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

/* line 570, ../scss/foundation/components/_visibility.scss */
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

/* Specific visibility for tables */
/* line 575, ../scss/foundation/components/_visibility.scss */
table.hide-for-landscape, table.show-for-portrait {
  display: table;
}

/* line 579, ../scss/foundation/components/_visibility.scss */
thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important;
}

/* line 583, ../scss/foundation/components/_visibility.scss */
tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important;
}

/* line 587, ../scss/foundation/components/_visibility.scss */
tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important;
}

/* line 592, ../scss/foundation/components/_visibility.scss */
td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  /* line 597, ../scss/foundation/components/_visibility.scss */
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  /* line 599, ../scss/foundation/components/_visibility.scss */
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 604, ../scss/foundation/components/_visibility.scss */
  table.show-for-landscape, table.hide-for-portrait {
    display: table;
  }

  /* line 608, ../scss/foundation/components/_visibility.scss */
  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important;
  }

  /* line 612, ../scss/foundation/components/_visibility.scss */
  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  /* line 616, ../scss/foundation/components/_visibility.scss */
  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important;
  }

  /* line 621, ../scss/foundation/components/_visibility.scss */
  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}
@media only screen and (orientation: portrait) {
  /* line 627, ../scss/foundation/components/_visibility.scss */
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  /* line 629, ../scss/foundation/components/_visibility.scss */
  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 634, ../scss/foundation/components/_visibility.scss */
  table.show-for-portrait, table.hide-for-landscape {
    display: table;
  }

  /* line 638, ../scss/foundation/components/_visibility.scss */
  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important;
  }

  /* line 642, ../scss/foundation/components/_visibility.scss */
  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  /* line 646, ../scss/foundation/components/_visibility.scss */
  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important;
  }

  /* line 651, ../scss/foundation/components/_visibility.scss */
  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}
/* Touch-enabled device targeting */
/* line 657, ../scss/foundation/components/_visibility.scss */
.show-for-touch {
  display: none !important;
}

/* line 658, ../scss/foundation/components/_visibility.scss */
.hide-for-touch {
  display: inherit !important;
}

/* line 659, ../scss/foundation/components/_visibility.scss */
.touch .show-for-touch {
  display: inherit !important;
}

/* line 660, ../scss/foundation/components/_visibility.scss */
.touch .hide-for-touch {
  display: none !important;
}

/* Specific visibility for tables */
/* line 663, ../scss/foundation/components/_visibility.scss */
table.hide-for-touch {
  display: table;
}

/* line 664, ../scss/foundation/components/_visibility.scss */
.touch table.show-for-touch {
  display: table;
}

/* line 665, ../scss/foundation/components/_visibility.scss */
thead.hide-for-touch {
  display: table-header-group !important;
}

/* line 666, ../scss/foundation/components/_visibility.scss */
.touch thead.show-for-touch {
  display: table-header-group !important;
}

/* line 667, ../scss/foundation/components/_visibility.scss */
tbody.hide-for-touch {
  display: table-row-group !important;
}

/* line 668, ../scss/foundation/components/_visibility.scss */
.touch tbody.show-for-touch {
  display: table-row-group !important;
}

/* line 669, ../scss/foundation/components/_visibility.scss */
tr.hide-for-touch {
  display: table-row !important;
}

/* line 670, ../scss/foundation/components/_visibility.scss */
.touch tr.show-for-touch {
  display: table-row !important;
}

/* line 671, ../scss/foundation/components/_visibility.scss */
td.hide-for-touch {
  display: table-cell !important;
}

/* line 672, ../scss/foundation/components/_visibility.scss */
.touch td.show-for-touch {
  display: table-cell !important;
}

/* line 673, ../scss/foundation/components/_visibility.scss */
th.hide-for-touch {
  display: table-cell !important;
}

/* line 674, ../scss/foundation/components/_visibility.scss */
.touch th.show-for-touch {
  display: table-cell !important;
}

/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../scss/fa/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* line 5, ../scss/fa/_larger.scss */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 10, ../scss/fa/_larger.scss */
.fa-2x {
  font-size: 2em;
}

/* line 11, ../scss/fa/_larger.scss */
.fa-3x {
  font-size: 3em;
}

/* line 12, ../scss/fa/_larger.scss */
.fa-4x {
  font-size: 4em;
}

/* line 13, ../scss/fa/_larger.scss */
.fa-5x {
  font-size: 5em;
}

/* line 3, ../scss/fa/_fixed-width.scss */
.fa-fw {
  width: 1.28571em;
  text-align: center;
}

/* line 4, ../scss/fa/_list.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
/* line 8, ../scss/fa/_list.scss */
.fa-ul > li {
  position: relative;
}

/* line 10, ../scss/fa/_list.scss */
.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
/* line 16, ../scss/fa/_list.scss */
.fa-li.fa-lg {
  left: -1.85714em;
}

/* line 4, ../scss/fa/_bordered-pulled.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

/* line 10, ../scss/fa/_bordered-pulled.scss */
.pull-right {
  float: right;
}

/* line 11, ../scss/fa/_bordered-pulled.scss */
.pull-left {
  float: left;
}

/* line 14, ../scss/fa/_bordered-pulled.scss */
.fa.pull-left {
  margin-right: .3em;
}
/* line 15, ../scss/fa/_bordered-pulled.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 4, ../scss/fa/_spinning.scss */
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* line 4, ../scss/fa/_rotated-flipped.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 5, ../scss/fa/_rotated-flipped.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 6, ../scss/fa/_rotated-flipped.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 8, ../scss/fa/_rotated-flipped.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 9, ../scss/fa/_rotated-flipped.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 4, ../scss/fa/_stacked.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 12, ../scss/fa/_stacked.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 18, ../scss/fa/_stacked.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 19, ../scss/fa/_stacked.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 20, ../scss/fa/_stacked.scss */
.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 4, ../scss/fa/_icons.scss */
.fa-glass:before {
  content: "";
}

/* line 5, ../scss/fa/_icons.scss */
.fa-music:before {
  content: "";
}

/* line 6, ../scss/fa/_icons.scss */
.fa-search:before {
  content: "";
}

/* line 7, ../scss/fa/_icons.scss */
.fa-envelope-o:before {
  content: "";
}

/* line 8, ../scss/fa/_icons.scss */
.fa-heart:before {
  content: "";
}

/* line 9, ../scss/fa/_icons.scss */
.fa-star:before {
  content: "";
}

/* line 10, ../scss/fa/_icons.scss */
.fa-star-o:before {
  content: "";
}

/* line 11, ../scss/fa/_icons.scss */
.fa-user:before {
  content: "";
}

/* line 12, ../scss/fa/_icons.scss */
.fa-film:before {
  content: "";
}

/* line 13, ../scss/fa/_icons.scss */
.fa-th-large:before {
  content: "";
}

/* line 14, ../scss/fa/_icons.scss */
.fa-th:before {
  content: "";
}

/* line 15, ../scss/fa/_icons.scss */
.fa-th-list:before {
  content: "";
}

/* line 16, ../scss/fa/_icons.scss */
.fa-check:before {
  content: "";
}

/* line 17, ../scss/fa/_icons.scss */
.fa-times:before {
  content: "";
}

/* line 18, ../scss/fa/_icons.scss */
.fa-search-plus:before {
  content: "";
}

/* line 19, ../scss/fa/_icons.scss */
.fa-search-minus:before {
  content: "";
}

/* line 20, ../scss/fa/_icons.scss */
.fa-power-off:before {
  content: "";
}

/* line 21, ../scss/fa/_icons.scss */
.fa-signal:before {
  content: "";
}

/* line 22, ../scss/fa/_icons.scss */
.fa-gear:before,
.fa-cog:before {
  content: "";
}

/* line 24, ../scss/fa/_icons.scss */
.fa-trash-o:before {
  content: "";
}

/* line 25, ../scss/fa/_icons.scss */
.fa-home:before {
  content: "";
}

/* line 26, ../scss/fa/_icons.scss */
.fa-file-o:before {
  content: "";
}

/* line 27, ../scss/fa/_icons.scss */
.fa-clock-o:before {
  content: "";
}

/* line 28, ../scss/fa/_icons.scss */
.fa-road:before {
  content: "";
}

/* line 29, ../scss/fa/_icons.scss */
.fa-download:before {
  content: "";
}

/* line 30, ../scss/fa/_icons.scss */
.fa-arrow-circle-o-down:before {
  content: "";
}

/* line 31, ../scss/fa/_icons.scss */
.fa-arrow-circle-o-up:before {
  content: "";
}

/* line 32, ../scss/fa/_icons.scss */
.fa-inbox:before {
  content: "";
}

/* line 33, ../scss/fa/_icons.scss */
.fa-play-circle-o:before {
  content: "";
}

/* line 34, ../scss/fa/_icons.scss */
.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

/* line 36, ../scss/fa/_icons.scss */
.fa-refresh:before {
  content: "";
}

/* line 37, ../scss/fa/_icons.scss */
.fa-list-alt:before {
  content: "";
}

/* line 38, ../scss/fa/_icons.scss */
.fa-lock:before {
  content: "";
}

/* line 39, ../scss/fa/_icons.scss */
.fa-flag:before {
  content: "";
}

/* line 40, ../scss/fa/_icons.scss */
.fa-headphones:before {
  content: "";
}

/* line 41, ../scss/fa/_icons.scss */
.fa-volume-off:before {
  content: "";
}

/* line 42, ../scss/fa/_icons.scss */
.fa-volume-down:before {
  content: "";
}

/* line 43, ../scss/fa/_icons.scss */
.fa-volume-up:before {
  content: "";
}

/* line 44, ../scss/fa/_icons.scss */
.fa-qrcode:before {
  content: "";
}

/* line 45, ../scss/fa/_icons.scss */
.fa-barcode:before {
  content: "";
}

/* line 46, ../scss/fa/_icons.scss */
.fa-tag:before {
  content: "";
}

/* line 47, ../scss/fa/_icons.scss */
.fa-tags:before {
  content: "";
}

/* line 48, ../scss/fa/_icons.scss */
.fa-book:before {
  content: "";
}

/* line 49, ../scss/fa/_icons.scss */
.fa-bookmark:before {
  content: "";
}

/* line 50, ../scss/fa/_icons.scss */
.fa-print:before {
  content: "";
}

/* line 51, ../scss/fa/_icons.scss */
.fa-camera:before {
  content: "";
}

/* line 52, ../scss/fa/_icons.scss */
.fa-font:before {
  content: "";
}

/* line 53, ../scss/fa/_icons.scss */
.fa-bold:before {
  content: "";
}

/* line 54, ../scss/fa/_icons.scss */
.fa-italic:before {
  content: "";
}

/* line 55, ../scss/fa/_icons.scss */
.fa-text-height:before {
  content: "";
}

/* line 56, ../scss/fa/_icons.scss */
.fa-text-width:before {
  content: "";
}

/* line 57, ../scss/fa/_icons.scss */
.fa-align-left:before {
  content: "";
}

/* line 58, ../scss/fa/_icons.scss */
.fa-align-center:before {
  content: "";
}

/* line 59, ../scss/fa/_icons.scss */
.fa-align-right:before {
  content: "";
}

/* line 60, ../scss/fa/_icons.scss */
.fa-align-justify:before {
  content: "";
}

/* line 61, ../scss/fa/_icons.scss */
.fa-list:before {
  content: "";
}

/* line 62, ../scss/fa/_icons.scss */
.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

/* line 64, ../scss/fa/_icons.scss */
.fa-indent:before {
  content: "";
}

/* line 65, ../scss/fa/_icons.scss */
.fa-video-camera:before {
  content: "";
}

/* line 66, ../scss/fa/_icons.scss */
.fa-picture-o:before {
  content: "";
}

/* line 67, ../scss/fa/_icons.scss */
.fa-pencil:before {
  content: "";
}

/* line 68, ../scss/fa/_icons.scss */
.fa-map-marker:before {
  content: "";
}

/* line 69, ../scss/fa/_icons.scss */
.fa-adjust:before {
  content: "";
}

/* line 70, ../scss/fa/_icons.scss */
.fa-tint:before {
  content: "";
}

/* line 71, ../scss/fa/_icons.scss */
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

/* line 73, ../scss/fa/_icons.scss */
.fa-share-square-o:before {
  content: "";
}

/* line 74, ../scss/fa/_icons.scss */
.fa-check-square-o:before {
  content: "";
}

/* line 75, ../scss/fa/_icons.scss */
.fa-arrows:before {
  content: "";
}

/* line 76, ../scss/fa/_icons.scss */
.fa-step-backward:before {
  content: "";
}

/* line 77, ../scss/fa/_icons.scss */
.fa-fast-backward:before {
  content: "";
}

/* line 78, ../scss/fa/_icons.scss */
.fa-backward:before {
  content: "";
}

/* line 79, ../scss/fa/_icons.scss */
.fa-play:before {
  content: "";
}

/* line 80, ../scss/fa/_icons.scss */
.fa-pause:before {
  content: "";
}

/* line 81, ../scss/fa/_icons.scss */
.fa-stop:before {
  content: "";
}

/* line 82, ../scss/fa/_icons.scss */
.fa-forward:before {
  content: "";
}

/* line 83, ../scss/fa/_icons.scss */
.fa-fast-forward:before {
  content: "";
}

/* line 84, ../scss/fa/_icons.scss */
.fa-step-forward:before {
  content: "";
}

/* line 85, ../scss/fa/_icons.scss */
.fa-eject:before {
  content: "";
}

/* line 86, ../scss/fa/_icons.scss */
.fa-chevron-left:before {
  content: "";
}

/* line 87, ../scss/fa/_icons.scss */
.fa-chevron-right:before {
  content: "";
}

/* line 88, ../scss/fa/_icons.scss */
.fa-plus-circle:before {
  content: "";
}

/* line 89, ../scss/fa/_icons.scss */
.fa-minus-circle:before {
  content: "";
}

/* line 90, ../scss/fa/_icons.scss */
.fa-times-circle:before {
  content: "";
}

/* line 91, ../scss/fa/_icons.scss */
.fa-check-circle:before {
  content: "";
}

/* line 92, ../scss/fa/_icons.scss */
.fa-question-circle:before {
  content: "";
}

/* line 93, ../scss/fa/_icons.scss */
.fa-info-circle:before {
  content: "";
}

/* line 94, ../scss/fa/_icons.scss */
.fa-crosshairs:before {
  content: "";
}

/* line 95, ../scss/fa/_icons.scss */
.fa-times-circle-o:before {
  content: "";
}

/* line 96, ../scss/fa/_icons.scss */
.fa-check-circle-o:before {
  content: "";
}

/* line 97, ../scss/fa/_icons.scss */
.fa-ban:before {
  content: "";
}

/* line 98, ../scss/fa/_icons.scss */
.fa-arrow-left:before {
  content: "";
}

/* line 99, ../scss/fa/_icons.scss */
.fa-arrow-right:before {
  content: "";
}

/* line 100, ../scss/fa/_icons.scss */
.fa-arrow-up:before {
  content: "";
}

/* line 101, ../scss/fa/_icons.scss */
.fa-arrow-down:before {
  content: "";
}

/* line 102, ../scss/fa/_icons.scss */
.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

/* line 104, ../scss/fa/_icons.scss */
.fa-expand:before {
  content: "";
}

/* line 105, ../scss/fa/_icons.scss */
.fa-compress:before {
  content: "";
}

/* line 106, ../scss/fa/_icons.scss */
.fa-plus:before {
  content: "";
}

/* line 107, ../scss/fa/_icons.scss */
.fa-minus:before {
  content: "";
}

/* line 108, ../scss/fa/_icons.scss */
.fa-asterisk:before {
  content: "";
}

/* line 109, ../scss/fa/_icons.scss */
.fa-exclamation-circle:before {
  content: "";
}

/* line 110, ../scss/fa/_icons.scss */
.fa-gift:before {
  content: "";
}

/* line 111, ../scss/fa/_icons.scss */
.fa-leaf:before {
  content: "";
}

/* line 112, ../scss/fa/_icons.scss */
.fa-fire:before {
  content: "";
}

/* line 113, ../scss/fa/_icons.scss */
.fa-eye:before {
  content: "";
}

/* line 114, ../scss/fa/_icons.scss */
.fa-eye-slash:before {
  content: "";
}

/* line 115, ../scss/fa/_icons.scss */
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

/* line 117, ../scss/fa/_icons.scss */
.fa-plane:before {
  content: "";
}

/* line 118, ../scss/fa/_icons.scss */
.fa-calendar:before {
  content: "";
}

/* line 119, ../scss/fa/_icons.scss */
.fa-random:before {
  content: "";
}

/* line 120, ../scss/fa/_icons.scss */
.fa-comment:before {
  content: "";
}

/* line 121, ../scss/fa/_icons.scss */
.fa-magnet:before {
  content: "";
}

/* line 122, ../scss/fa/_icons.scss */
.fa-chevron-up:before {
  content: "";
}

/* line 123, ../scss/fa/_icons.scss */
.fa-chevron-down:before {
  content: "";
}

/* line 124, ../scss/fa/_icons.scss */
.fa-retweet:before {
  content: "";
}

/* line 125, ../scss/fa/_icons.scss */
.fa-shopping-cart:before {
  content: "";
}

/* line 126, ../scss/fa/_icons.scss */
.fa-folder:before {
  content: "";
}

/* line 127, ../scss/fa/_icons.scss */
.fa-folder-open:before {
  content: "";
}

/* line 128, ../scss/fa/_icons.scss */
.fa-arrows-v:before {
  content: "";
}

/* line 129, ../scss/fa/_icons.scss */
.fa-arrows-h:before {
  content: "";
}

/* line 130, ../scss/fa/_icons.scss */
.fa-bar-chart-o:before {
  content: "";
}

/* line 131, ../scss/fa/_icons.scss */
.fa-twitter-square:before {
  content: "";
}

/* line 132, ../scss/fa/_icons.scss */
.fa-facebook-square:before {
  content: "";
}

/* line 133, ../scss/fa/_icons.scss */
.fa-camera-retro:before {
  content: "";
}

/* line 134, ../scss/fa/_icons.scss */
.fa-key:before {
  content: "";
}

/* line 135, ../scss/fa/_icons.scss */
.fa-gears:before,
.fa-cogs:before {
  content: "";
}

/* line 137, ../scss/fa/_icons.scss */
.fa-comments:before {
  content: "";
}

/* line 138, ../scss/fa/_icons.scss */
.fa-thumbs-o-up:before {
  content: "";
}

/* line 139, ../scss/fa/_icons.scss */
.fa-thumbs-o-down:before {
  content: "";
}

/* line 140, ../scss/fa/_icons.scss */
.fa-star-half:before {
  content: "";
}

/* line 141, ../scss/fa/_icons.scss */
.fa-heart-o:before {
  content: "";
}

/* line 142, ../scss/fa/_icons.scss */
.fa-sign-out:before {
  content: "";
}

/* line 143, ../scss/fa/_icons.scss */
.fa-linkedin-square:before {
  content: "";
}

/* line 144, ../scss/fa/_icons.scss */
.fa-thumb-tack:before {
  content: "";
}

/* line 145, ../scss/fa/_icons.scss */
.fa-external-link:before {
  content: "";
}

/* line 146, ../scss/fa/_icons.scss */
.fa-sign-in:before {
  content: "";
}

/* line 147, ../scss/fa/_icons.scss */
.fa-trophy:before {
  content: "";
}

/* line 148, ../scss/fa/_icons.scss */
.fa-github-square:before {
  content: "";
}

/* line 149, ../scss/fa/_icons.scss */
.fa-upload:before {
  content: "";
}

/* line 150, ../scss/fa/_icons.scss */
.fa-lemon-o:before {
  content: "";
}

/* line 151, ../scss/fa/_icons.scss */
.fa-phone:before {
  content: "";
}

/* line 152, ../scss/fa/_icons.scss */
.fa-square-o:before {
  content: "";
}

/* line 153, ../scss/fa/_icons.scss */
.fa-bookmark-o:before {
  content: "";
}

/* line 154, ../scss/fa/_icons.scss */
.fa-phone-square:before {
  content: "";
}

/* line 155, ../scss/fa/_icons.scss */
.fa-twitter:before {
  content: "";
}

/* line 156, ../scss/fa/_icons.scss */
.fa-facebook:before {
  content: "";
}

/* line 157, ../scss/fa/_icons.scss */
.fa-github:before {
  content: "";
}

/* line 158, ../scss/fa/_icons.scss */
.fa-unlock:before {
  content: "";
}

/* line 159, ../scss/fa/_icons.scss */
.fa-credit-card:before {
  content: "";
}

/* line 160, ../scss/fa/_icons.scss */
.fa-rss:before {
  content: "";
}

/* line 161, ../scss/fa/_icons.scss */
.fa-hdd-o:before {
  content: "";
}

/* line 162, ../scss/fa/_icons.scss */
.fa-bullhorn:before {
  content: "";
}

/* line 163, ../scss/fa/_icons.scss */
.fa-bell:before {
  content: "";
}

/* line 164, ../scss/fa/_icons.scss */
.fa-certificate:before {
  content: "";
}

/* line 165, ../scss/fa/_icons.scss */
.fa-hand-o-right:before {
  content: "";
}

/* line 166, ../scss/fa/_icons.scss */
.fa-hand-o-left:before {
  content: "";
}

/* line 167, ../scss/fa/_icons.scss */
.fa-hand-o-up:before {
  content: "";
}

/* line 168, ../scss/fa/_icons.scss */
.fa-hand-o-down:before {
  content: "";
}

/* line 169, ../scss/fa/_icons.scss */
.fa-arrow-circle-left:before {
  content: "";
}

/* line 170, ../scss/fa/_icons.scss */
.fa-arrow-circle-right:before {
  content: "";
}

/* line 171, ../scss/fa/_icons.scss */
.fa-arrow-circle-up:before {
  content: "";
}

/* line 172, ../scss/fa/_icons.scss */
.fa-arrow-circle-down:before {
  content: "";
}

/* line 173, ../scss/fa/_icons.scss */
.fa-globe:before {
  content: "";
}

/* line 174, ../scss/fa/_icons.scss */
.fa-wrench:before {
  content: "";
}

/* line 175, ../scss/fa/_icons.scss */
.fa-tasks:before {
  content: "";
}

/* line 176, ../scss/fa/_icons.scss */
.fa-filter:before {
  content: "";
}

/* line 177, ../scss/fa/_icons.scss */
.fa-briefcase:before {
  content: "";
}

/* line 178, ../scss/fa/_icons.scss */
.fa-arrows-alt:before {
  content: "";
}

/* line 179, ../scss/fa/_icons.scss */
.fa-group:before,
.fa-users:before {
  content: "";
}

/* line 181, ../scss/fa/_icons.scss */
.fa-chain:before,
.fa-link:before {
  content: "";
}

/* line 183, ../scss/fa/_icons.scss */
.fa-cloud:before {
  content: "";
}

/* line 184, ../scss/fa/_icons.scss */
.fa-flask:before {
  content: "";
}

/* line 185, ../scss/fa/_icons.scss */
.fa-cut:before,
.fa-scissors:before {
  content: "";
}

/* line 187, ../scss/fa/_icons.scss */
.fa-copy:before,
.fa-files-o:before {
  content: "";
}

/* line 189, ../scss/fa/_icons.scss */
.fa-paperclip:before {
  content: "";
}

/* line 190, ../scss/fa/_icons.scss */
.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

/* line 192, ../scss/fa/_icons.scss */
.fa-square:before {
  content: "";
}

/* line 193, ../scss/fa/_icons.scss */
.fa-bars:before {
  content: "";
}

/* line 194, ../scss/fa/_icons.scss */
.fa-list-ul:before {
  content: "";
}

/* line 195, ../scss/fa/_icons.scss */
.fa-list-ol:before {
  content: "";
}

/* line 196, ../scss/fa/_icons.scss */
.fa-strikethrough:before {
  content: "";
}

/* line 197, ../scss/fa/_icons.scss */
.fa-underline:before {
  content: "";
}

/* line 198, ../scss/fa/_icons.scss */
.fa-table:before {
  content: "";
}

/* line 199, ../scss/fa/_icons.scss */
.fa-magic:before {
  content: "";
}

/* line 200, ../scss/fa/_icons.scss */
.fa-truck:before {
  content: "";
}

/* line 201, ../scss/fa/_icons.scss */
.fa-pinterest:before {
  content: "";
}

/* line 202, ../scss/fa/_icons.scss */
.fa-pinterest-square:before {
  content: "";
}

/* line 203, ../scss/fa/_icons.scss */
.fa-google-plus-square:before {
  content: "";
}

/* line 204, ../scss/fa/_icons.scss */
.fa-google-plus:before {
  content: "";
}

/* line 205, ../scss/fa/_icons.scss */
.fa-money:before {
  content: "";
}

/* line 206, ../scss/fa/_icons.scss */
.fa-caret-down:before {
  content: "";
}

/* line 207, ../scss/fa/_icons.scss */
.fa-caret-up:before {
  content: "";
}

/* line 208, ../scss/fa/_icons.scss */
.fa-caret-left:before {
  content: "";
}

/* line 209, ../scss/fa/_icons.scss */
.fa-caret-right:before {
  content: "";
}

/* line 210, ../scss/fa/_icons.scss */
.fa-columns:before {
  content: "";
}

/* line 211, ../scss/fa/_icons.scss */
.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

/* line 213, ../scss/fa/_icons.scss */
.fa-sort-down:before,
.fa-sort-asc:before {
  content: "";
}

/* line 215, ../scss/fa/_icons.scss */
.fa-sort-up:before,
.fa-sort-desc:before {
  content: "";
}

/* line 217, ../scss/fa/_icons.scss */
.fa-envelope:before {
  content: "";
}

/* line 218, ../scss/fa/_icons.scss */
.fa-linkedin:before {
  content: "";
}

/* line 219, ../scss/fa/_icons.scss */
.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

/* line 221, ../scss/fa/_icons.scss */
.fa-legal:before,
.fa-gavel:before {
  content: "";
}

/* line 223, ../scss/fa/_icons.scss */
.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

/* line 225, ../scss/fa/_icons.scss */
.fa-comment-o:before {
  content: "";
}

/* line 226, ../scss/fa/_icons.scss */
.fa-comments-o:before {
  content: "";
}

/* line 227, ../scss/fa/_icons.scss */
.fa-flash:before,
.fa-bolt:before {
  content: "";
}

/* line 229, ../scss/fa/_icons.scss */
.fa-sitemap:before {
  content: "";
}

/* line 230, ../scss/fa/_icons.scss */
.fa-umbrella:before {
  content: "";
}

/* line 231, ../scss/fa/_icons.scss */
.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

/* line 233, ../scss/fa/_icons.scss */
.fa-lightbulb-o:before {
  content: "";
}

/* line 234, ../scss/fa/_icons.scss */
.fa-exchange:before {
  content: "";
}

/* line 235, ../scss/fa/_icons.scss */
.fa-cloud-download:before {
  content: "";
}

/* line 236, ../scss/fa/_icons.scss */
.fa-cloud-upload:before {
  content: "";
}

/* line 237, ../scss/fa/_icons.scss */
.fa-user-md:before {
  content: "";
}

/* line 238, ../scss/fa/_icons.scss */
.fa-stethoscope:before {
  content: "";
}

/* line 239, ../scss/fa/_icons.scss */
.fa-suitcase:before {
  content: "";
}

/* line 240, ../scss/fa/_icons.scss */
.fa-bell-o:before {
  content: "";
}

/* line 241, ../scss/fa/_icons.scss */
.fa-coffee:before {
  content: "";
}

/* line 242, ../scss/fa/_icons.scss */
.fa-cutlery:before {
  content: "";
}

/* line 243, ../scss/fa/_icons.scss */
.fa-file-text-o:before {
  content: "";
}

/* line 244, ../scss/fa/_icons.scss */
.fa-building-o:before {
  content: "";
}

/* line 245, ../scss/fa/_icons.scss */
.fa-hospital-o:before {
  content: "";
}

/* line 246, ../scss/fa/_icons.scss */
.fa-ambulance:before {
  content: "";
}

/* line 247, ../scss/fa/_icons.scss */
.fa-medkit:before {
  content: "";
}

/* line 248, ../scss/fa/_icons.scss */
.fa-fighter-jet:before {
  content: "";
}

/* line 249, ../scss/fa/_icons.scss */
.fa-beer:before {
  content: "";
}

/* line 250, ../scss/fa/_icons.scss */
.fa-h-square:before {
  content: "";
}

/* line 251, ../scss/fa/_icons.scss */
.fa-plus-square:before {
  content: "";
}

/* line 252, ../scss/fa/_icons.scss */
.fa-angle-double-left:before {
  content: "";
}

/* line 253, ../scss/fa/_icons.scss */
.fa-angle-double-right:before {
  content: "";
}

/* line 254, ../scss/fa/_icons.scss */
.fa-angle-double-up:before {
  content: "";
}

/* line 255, ../scss/fa/_icons.scss */
.fa-angle-double-down:before {
  content: "";
}

/* line 256, ../scss/fa/_icons.scss */
.fa-angle-left:before {
  content: "";
}

/* line 257, ../scss/fa/_icons.scss */
.fa-angle-right:before {
  content: "";
}

/* line 258, ../scss/fa/_icons.scss */
.fa-angle-up:before {
  content: "";
}

/* line 259, ../scss/fa/_icons.scss */
.fa-angle-down:before {
  content: "";
}

/* line 260, ../scss/fa/_icons.scss */
.fa-desktop:before {
  content: "";
}

/* line 261, ../scss/fa/_icons.scss */
.fa-laptop:before {
  content: "";
}

/* line 262, ../scss/fa/_icons.scss */
.fa-tablet:before {
  content: "";
}

/* line 263, ../scss/fa/_icons.scss */
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

/* line 265, ../scss/fa/_icons.scss */
.fa-circle-o:before {
  content: "";
}

/* line 266, ../scss/fa/_icons.scss */
.fa-quote-left:before {
  content: "";
}

/* line 267, ../scss/fa/_icons.scss */
.fa-quote-right:before {
  content: "";
}

/* line 268, ../scss/fa/_icons.scss */
.fa-spinner:before {
  content: "";
}

/* line 269, ../scss/fa/_icons.scss */
.fa-circle:before {
  content: "";
}

/* line 270, ../scss/fa/_icons.scss */
.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

/* line 272, ../scss/fa/_icons.scss */
.fa-github-alt:before {
  content: "";
}

/* line 273, ../scss/fa/_icons.scss */
.fa-folder-o:before {
  content: "";
}

/* line 274, ../scss/fa/_icons.scss */
.fa-folder-open-o:before {
  content: "";
}

/* line 275, ../scss/fa/_icons.scss */
.fa-smile-o:before {
  content: "";
}

/* line 276, ../scss/fa/_icons.scss */
.fa-frown-o:before {
  content: "";
}

/* line 277, ../scss/fa/_icons.scss */
.fa-meh-o:before {
  content: "";
}

/* line 278, ../scss/fa/_icons.scss */
.fa-gamepad:before {
  content: "";
}

/* line 279, ../scss/fa/_icons.scss */
.fa-keyboard-o:before {
  content: "";
}

/* line 280, ../scss/fa/_icons.scss */
.fa-flag-o:before {
  content: "";
}

/* line 281, ../scss/fa/_icons.scss */
.fa-flag-checkered:before {
  content: "";
}

/* line 282, ../scss/fa/_icons.scss */
.fa-terminal:before {
  content: "";
}

/* line 283, ../scss/fa/_icons.scss */
.fa-code:before {
  content: "";
}

/* line 284, ../scss/fa/_icons.scss */
.fa-reply-all:before {
  content: "";
}

/* line 285, ../scss/fa/_icons.scss */
.fa-mail-reply-all:before {
  content: "";
}

/* line 286, ../scss/fa/_icons.scss */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

/* line 289, ../scss/fa/_icons.scss */
.fa-location-arrow:before {
  content: "";
}

/* line 290, ../scss/fa/_icons.scss */
.fa-crop:before {
  content: "";
}

/* line 291, ../scss/fa/_icons.scss */
.fa-code-fork:before {
  content: "";
}

/* line 292, ../scss/fa/_icons.scss */
.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

/* line 294, ../scss/fa/_icons.scss */
.fa-question:before {
  content: "";
}

/* line 295, ../scss/fa/_icons.scss */
.fa-info:before {
  content: "";
}

/* line 296, ../scss/fa/_icons.scss */
.fa-exclamation:before {
  content: "";
}

/* line 297, ../scss/fa/_icons.scss */
.fa-superscript:before {
  content: "";
}

/* line 298, ../scss/fa/_icons.scss */
.fa-subscript:before {
  content: "";
}

/* line 299, ../scss/fa/_icons.scss */
.fa-eraser:before {
  content: "";
}

/* line 300, ../scss/fa/_icons.scss */
.fa-puzzle-piece:before {
  content: "";
}

/* line 301, ../scss/fa/_icons.scss */
.fa-microphone:before {
  content: "";
}

/* line 302, ../scss/fa/_icons.scss */
.fa-microphone-slash:before {
  content: "";
}

/* line 303, ../scss/fa/_icons.scss */
.fa-shield:before {
  content: "";
}

/* line 304, ../scss/fa/_icons.scss */
.fa-calendar-o:before {
  content: "";
}

/* line 305, ../scss/fa/_icons.scss */
.fa-fire-extinguisher:before {
  content: "";
}

/* line 306, ../scss/fa/_icons.scss */
.fa-rocket:before {
  content: "";
}

/* line 307, ../scss/fa/_icons.scss */
.fa-maxcdn:before {
  content: "";
}

/* line 308, ../scss/fa/_icons.scss */
.fa-chevron-circle-left:before {
  content: "";
}

/* line 309, ../scss/fa/_icons.scss */
.fa-chevron-circle-right:before {
  content: "";
}

/* line 310, ../scss/fa/_icons.scss */
.fa-chevron-circle-up:before {
  content: "";
}

/* line 311, ../scss/fa/_icons.scss */
.fa-chevron-circle-down:before {
  content: "";
}

/* line 312, ../scss/fa/_icons.scss */
.fa-html5:before {
  content: "";
}

/* line 313, ../scss/fa/_icons.scss */
.fa-css3:before {
  content: "";
}

/* line 314, ../scss/fa/_icons.scss */
.fa-anchor:before {
  content: "";
}

/* line 315, ../scss/fa/_icons.scss */
.fa-unlock-alt:before {
  content: "";
}

/* line 316, ../scss/fa/_icons.scss */
.fa-bullseye:before {
  content: "";
}

/* line 317, ../scss/fa/_icons.scss */
.fa-ellipsis-h:before {
  content: "";
}

/* line 318, ../scss/fa/_icons.scss */
.fa-ellipsis-v:before {
  content: "";
}

/* line 319, ../scss/fa/_icons.scss */
.fa-rss-square:before {
  content: "";
}

/* line 320, ../scss/fa/_icons.scss */
.fa-play-circle:before {
  content: "";
}

/* line 321, ../scss/fa/_icons.scss */
.fa-ticket:before {
  content: "";
}

/* line 322, ../scss/fa/_icons.scss */
.fa-minus-square:before {
  content: "";
}

/* line 323, ../scss/fa/_icons.scss */
.fa-minus-square-o:before {
  content: "";
}

/* line 324, ../scss/fa/_icons.scss */
.fa-level-up:before {
  content: "";
}

/* line 325, ../scss/fa/_icons.scss */
.fa-level-down:before {
  content: "";
}

/* line 326, ../scss/fa/_icons.scss */
.fa-check-square:before {
  content: "";
}

/* line 327, ../scss/fa/_icons.scss */
.fa-pencil-square:before {
  content: "";
}

/* line 328, ../scss/fa/_icons.scss */
.fa-external-link-square:before {
  content: "";
}

/* line 329, ../scss/fa/_icons.scss */
.fa-share-square:before {
  content: "";
}

/* line 330, ../scss/fa/_icons.scss */
.fa-compass:before {
  content: "";
}

/* line 331, ../scss/fa/_icons.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

/* line 333, ../scss/fa/_icons.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

/* line 335, ../scss/fa/_icons.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

/* line 337, ../scss/fa/_icons.scss */
.fa-euro:before,
.fa-eur:before {
  content: "";
}

/* line 339, ../scss/fa/_icons.scss */
.fa-gbp:before {
  content: "";
}

/* line 340, ../scss/fa/_icons.scss */
.fa-dollar:before,
.fa-usd:before {
  content: "";
}

/* line 342, ../scss/fa/_icons.scss */
.fa-rupee:before,
.fa-inr:before {
  content: "";
}

/* line 344, ../scss/fa/_icons.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

/* line 348, ../scss/fa/_icons.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

/* line 351, ../scss/fa/_icons.scss */
.fa-won:before,
.fa-krw:before {
  content: "";
}

/* line 353, ../scss/fa/_icons.scss */
.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

/* line 355, ../scss/fa/_icons.scss */
.fa-file:before {
  content: "";
}

/* line 356, ../scss/fa/_icons.scss */
.fa-file-text:before {
  content: "";
}

/* line 357, ../scss/fa/_icons.scss */
.fa-sort-alpha-asc:before {
  content: "";
}

/* line 358, ../scss/fa/_icons.scss */
.fa-sort-alpha-desc:before {
  content: "";
}

/* line 359, ../scss/fa/_icons.scss */
.fa-sort-amount-asc:before {
  content: "";
}

/* line 360, ../scss/fa/_icons.scss */
.fa-sort-amount-desc:before {
  content: "";
}

/* line 361, ../scss/fa/_icons.scss */
.fa-sort-numeric-asc:before {
  content: "";
}

/* line 362, ../scss/fa/_icons.scss */
.fa-sort-numeric-desc:before {
  content: "";
}

/* line 363, ../scss/fa/_icons.scss */
.fa-thumbs-up:before {
  content: "";
}

/* line 364, ../scss/fa/_icons.scss */
.fa-thumbs-down:before {
  content: "";
}

/* line 365, ../scss/fa/_icons.scss */
.fa-youtube-square:before {
  content: "";
}

/* line 366, ../scss/fa/_icons.scss */
.fa-youtube:before {
  content: "";
}

/* line 367, ../scss/fa/_icons.scss */
.fa-xing:before {
  content: "";
}

/* line 368, ../scss/fa/_icons.scss */
.fa-xing-square:before {
  content: "";
}

/* line 369, ../scss/fa/_icons.scss */
.fa-youtube-play:before {
  content: "";
}

/* line 370, ../scss/fa/_icons.scss */
.fa-dropbox:before {
  content: "";
}

/* line 371, ../scss/fa/_icons.scss */
.fa-stack-overflow:before {
  content: "";
}

/* line 372, ../scss/fa/_icons.scss */
.fa-instagram:before {
  content: "";
}

/* line 373, ../scss/fa/_icons.scss */
.fa-flickr:before {
  content: "";
}

/* line 374, ../scss/fa/_icons.scss */
.fa-adn:before {
  content: "";
}

/* line 375, ../scss/fa/_icons.scss */
.fa-bitbucket:before {
  content: "";
}

/* line 376, ../scss/fa/_icons.scss */
.fa-bitbucket-square:before {
  content: "";
}

/* line 377, ../scss/fa/_icons.scss */
.fa-tumblr:before {
  content: "";
}

/* line 378, ../scss/fa/_icons.scss */
.fa-tumblr-square:before {
  content: "";
}

/* line 379, ../scss/fa/_icons.scss */
.fa-long-arrow-down:before {
  content: "";
}

/* line 380, ../scss/fa/_icons.scss */
.fa-long-arrow-up:before {
  content: "";
}

/* line 381, ../scss/fa/_icons.scss */
.fa-long-arrow-left:before {
  content: "";
}

/* line 382, ../scss/fa/_icons.scss */
.fa-long-arrow-right:before {
  content: "";
}

/* line 383, ../scss/fa/_icons.scss */
.fa-apple:before {
  content: "";
}

/* line 384, ../scss/fa/_icons.scss */
.fa-windows:before {
  content: "";
}

/* line 385, ../scss/fa/_icons.scss */
.fa-android:before {
  content: "";
}

/* line 386, ../scss/fa/_icons.scss */
.fa-linux:before {
  content: "";
}

/* line 387, ../scss/fa/_icons.scss */
.fa-dribbble:before {
  content: "";
}

/* line 388, ../scss/fa/_icons.scss */
.fa-skype:before {
  content: "";
}

/* line 389, ../scss/fa/_icons.scss */
.fa-foursquare:before {
  content: "";
}

/* line 390, ../scss/fa/_icons.scss */
.fa-trello:before {
  content: "";
}

/* line 391, ../scss/fa/_icons.scss */
.fa-female:before {
  content: "";
}

/* line 392, ../scss/fa/_icons.scss */
.fa-male:before {
  content: "";
}

/* line 393, ../scss/fa/_icons.scss */
.fa-gittip:before {
  content: "";
}

/* line 394, ../scss/fa/_icons.scss */
.fa-sun-o:before {
  content: "";
}

/* line 395, ../scss/fa/_icons.scss */
.fa-moon-o:before {
  content: "";
}

/* line 396, ../scss/fa/_icons.scss */
.fa-archive:before {
  content: "";
}

/* line 397, ../scss/fa/_icons.scss */
.fa-bug:before {
  content: "";
}

/* line 398, ../scss/fa/_icons.scss */
.fa-vk:before {
  content: "";
}

/* line 399, ../scss/fa/_icons.scss */
.fa-weibo:before {
  content: "";
}

/* line 400, ../scss/fa/_icons.scss */
.fa-renren:before {
  content: "";
}

/* line 401, ../scss/fa/_icons.scss */
.fa-pagelines:before {
  content: "";
}

/* line 402, ../scss/fa/_icons.scss */
.fa-stack-exchange:before {
  content: "";
}

/* line 403, ../scss/fa/_icons.scss */
.fa-arrow-circle-o-right:before {
  content: "";
}

/* line 404, ../scss/fa/_icons.scss */
.fa-arrow-circle-o-left:before {
  content: "";
}

/* line 405, ../scss/fa/_icons.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

/* line 407, ../scss/fa/_icons.scss */
.fa-dot-circle-o:before {
  content: "";
}

/* line 408, ../scss/fa/_icons.scss */
.fa-wheelchair:before {
  content: "";
}

/* line 409, ../scss/fa/_icons.scss */
.fa-vimeo-square:before {
  content: "";
}

/* line 410, ../scss/fa/_icons.scss */
.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

/* line 412, ../scss/fa/_icons.scss */
.fa-plus-square-o:before {
  content: "";
}

/* line 1, ../scss/_screen.scss */
body {
  background-color: #f7f7f7;
}

/* line 5, ../scss/_screen.scss */
.top-bar {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 43px;
  overflow: hidden;
  border-bottom: 2px solid #a2a2a2;
}
/* line 15, ../scss/_screen.scss */
.top-bar h1 {
  display: inline;
  color: #e3e3e3;
  font-weight: 100;
  font-size: 30px;
}
/* line 22, ../scss/_screen.scss */
.top-bar #menu-toggle {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.6875rem;
  padding-right: 1.375rem;
  padding-bottom: 0.75rem;
  padding-left: 1.375rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
  background-color: #008CBA;
  border-color: #007095;
  color: #fff;
  color: #e3e3e3;
}
/* line 143, ../scss/foundation/components/_buttons.scss */
.top-bar #menu-toggle:hover, .top-bar #menu-toggle:focus {
  background-color: #007095;
}
/* line 154, ../scss/foundation/components/_buttons.scss */
.top-bar #menu-toggle:hover, .top-bar #menu-toggle:focus {
  color: #fff;
}
@media only screen and (min-width: 64.063em) {
  /* line 22, ../scss/_screen.scss */
  .top-bar #menu-toggle {
    visibility: hidden;
  }
}
/* line 30, ../scss/_screen.scss */
.top-bar .cog-button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.6875rem;
  padding-right: 1.375rem;
  padding-bottom: 0.75rem;
  padding-left: 1.375rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
  background-color: #008CBA;
  border-color: #007095;
  color: #fff;
  color: #e3e3e3;
}
/* line 143, ../scss/foundation/components/_buttons.scss */
.top-bar .cog-button:hover, .top-bar .cog-button:focus {
  background-color: #007095;
}
/* line 154, ../scss/foundation/components/_buttons.scss */
.top-bar .cog-button:hover, .top-bar .cog-button:focus {
  color: #fff;
}

/* line 36, ../scss/_screen.scss */
#main-nav {
  width: 220px;
  height: 100%;
  background-color: #4a4a4a;
  position: fixed;
  left: -220px;
  top: 43px;
  min-height: 307px;
  z-index: 90;
  -moz-box-shadow: inset -3px 2px 10px 0px #333;
  -webkit-box-shadow: inset -3px 2px 10px 0px #333;
  box-shadow: inset -3px 2px 10px 0px #333;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 47, ../scss/_screen.scss */
#main-nav.nav-visible {
  left: 0;
}
@media only screen and (min-width: 64.063em) {
  /* line 36, ../scss/_screen.scss */
  #main-nav {
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
}
/* line 55, ../scss/_screen.scss */
#main-nav .side-nav {
  padding-top: 0;
}
/* line 57, ../scss/_screen.scss */
#main-nav .side-nav li {
  border-top: 1px solid #747474;
  border-bottom: 1px solid #3A3A3A;
  padding: 10px 0 10px 20px;
  margin: 0;
  text-transform: uppercase;
  background-color: #5A5A5A;
}
/* line 65, ../scss/_screen.scss */
#main-nav .side-nav li.active {
  background-color: #008CBA;
}
/* line 69, ../scss/_screen.scss */
#main-nav .side-nav li a {
  color: #e3e3e3;
}
/* line 71, ../scss/_screen.scss */
#main-nav .side-nav li a:hover {
  color: #fff;
}
/* line 74, ../scss/_screen.scss */
#main-nav .side-nav li a i {
  padding-right: 10px;
}
/* line 80, ../scss/_screen.scss */
#main-nav .copy {
  color: #e3e3e3;
  width: 220px;
  position: absolute;
  bottom: 29px;
}
/* line 85, ../scss/_screen.scss */
#main-nav .copy p {
  font-size: .8rem;
}

/* line 91, ../scss/_screen.scss */
#content {
  padding: 0.75rem 0;
  margin-top: 43px;
  margin-left: 0px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
/* line 97, ../scss/_screen.scss */
#content.nav-visible {
  margin-left: 220px;
  margin-right: -220px;
}
@media only screen and (min-width: 40.063em) {
  /* line 103, ../scss/_screen.scss */
  #content.nav-visible {
    margin-left: 220px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 91, ../scss/_screen.scss */
  #content {
    margin-left: 220px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
}
/* line 113, ../scss/_screen.scss */
#content .row {
  max-width: none;
}

/* line 118, ../scss/_screen.scss */
#content-full {
  padding: 0.75rem 0;
  margin-top: 45px;
  width: 100%;
}

/* line 126, ../scss/_screen.scss */
.todo-list-today dd {
  position: relative;
  margin-bottom: 0;
}
/* line 129, ../scss/_screen.scss */
.todo-list-today dd a.button {
  font-size: 1rem;
  height: 44px;
  line-height: 17px;
}
/* line 136, ../scss/_screen.scss */
.todo-list-today span.button {
  font-size: 1rem;
  position: absolute;
  top: 0;
  height: 44px;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* line 143, ../scss/_screen.scss */
.todo-list-today span.button.check {
  left: 0;
  border-right: 1px solid #cecece;
}
/* line 147, ../scss/_screen.scss */
.todo-list-today span.button.toggle {
  right: 0;
  border-left: 1px solid #cecece;
}
/* line 152, ../scss/_screen.scss */
.todo-list-today .todo-more {
  margin-top: -1.25rem;
  background-color: #eee;
}
/* line 156, ../scss/_screen.scss */
.todo-list-today .todo-more .tabs dd > a {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
/* line 160, ../scss/_screen.scss */
.todo-list-today .todo-more .tabs-content {
  padding: 0 1rem;
}

/* line 166, ../scss/_screen.scss */
input.ng-invalid {
  margin-bottom: 0px;
}

/* line 170, ../scss/_screen.scss */
.calendar {
  border-bottom: 1px solid #ccc;
}
/* line 172, ../scss/_screen.scss */
.calendar .day {
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 5px 5px 5px 60px;
  position: relative;
  min-height: 40px;
}
/* line 179, ../scss/_screen.scss */
.calendar .day.weekend {
  background-color: #eee;
}
/* line 183, ../scss/_screen.scss */
.calendar .day.hoverClass {
  background-color: #e5d8b5;
}
/* line 186, ../scss/_screen.scss */
.calendar .day .label {
  width: 55px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 193, ../scss/_screen.scss */
.calendar .day .job-event {
  background-color: #a0d3e8;
  padding: 5px;
  margin-bottom: 5px;
  font-size: smaller;
}
/* line 198, ../scss/_screen.scss */
.calendar .day .job-event span {
  float: right;
  cursor: pointer;
}
/* line 201, ../scss/_screen.scss */
.calendar .day .job-event span:hover {
  color: #f04124;
}

/* line 210, ../scss/_screen.scss */
.fc-day-grid-event .fc-content {
  white-space: normal;
  font-size: 13px;
  padding: 1px;
}

/* line 219, ../scss/_screen.scss */
.job-schedule .job {
  padding: 5px 5px 10px 5px;
  margin-bottom: 5px;
  background-color: #a0d3e8;
  position: relative;
}
/* line 224, ../scss/_screen.scss */
.job-schedule .job i {
  position: absolute;
  right: 5px;
  top: 15px;
  color: #999;
  display: none;
}
/* line 231, ../scss/_screen.scss */
.job-schedule .job:hover {
  background-color: #77c0de;
  cursor: pointer;
}
/* line 234, ../scss/_screen.scss */
.job-schedule .job:hover i {
  display: inline;
}

/* line 241, ../scss/_screen.scss */
.reports-table {
  width: 100%;
}

/* line 245, ../scss/_screen.scss */
.no-break {
  white-space: nowrap;
}
