.skin-blue .right-side .content-header{
    background-color: #fff;
}

.skin-blue .right-side .content-header h1{
    text-transform: uppercase;
}
.skin-blue .right-side .content-header h1 small{
    color: #333;
    font-size: 17px;
}

.navbar-default .navbar-brand{
    color: #fff;
}

#gmap{
    width: 100%;
    height: 250px;
}


table.dataTable thead .sorting_desc,
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc{
    padding-left: 20px;
    background-position: center left;
}

.no-break{
    white-space: nowrap;
}

#imagelightbox
{
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    top: 5% !important;

    -ms-touch-action: none;
    touch-action: none;

    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    -moz-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}

#imagelightbox-overlay
{
    background-color: #eee;
    background-color: rgba(238, 238, 238, 0.90);
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#imagelightbox-close
{
    width: 2.5em; /* 40 */
    height: 2.5em; /* 40 */
    text-align: left;
    text-indent: -9999px;
    background-color: #666;
    position: fixed;
    z-index: 10002;
    top: 2.5em; /* 40 */
    right: 2.5em; /* 40 */

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
#imagelightbox-close:hover
{
    background-color: #111;
}
#imagelightbox-close:before,
#imagelightbox-close:after
{
    width: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 50%;
    margin-left: -1px;
}
#imagelightbox-close:before
{
    -webkit-transform: rotate( 45deg );
    -moz-transform: rotate( 45deg );
    -ms-transform: rotate( 45deg );
    -o-transform: rotate( 45deg );
    transform: rotate( 45deg );
}
#imagelightbox-close:after
{
    -webkit-transform: rotate( -45deg );
    -moz-transform: rotate( -45deg );
    -ms-transform: rotate( -45deg );
    -o-transform: rotate( -45deg );
    transform: rotate( -45deg );
}


a.dash-callout{
    display: block;
    color: #fff;
}
a.dash-callout:hover{
    color: #f1f1f1;
}

#job-box ul{
    max-height: 800px;
    padding-bottom: 10px;
    overflow: scroll;
}
#job-box .fa-info{
    line-height: 26px;
}

.fc-cell-overlay{
    background-color: #1884ef;
}

.table-hover>tbody>tr:hover>td{
    background-color: #ffe3a6;
}

.btn-group .trigger{
    width: 33%;
}

.desc-formatted p{
    clear: both;
}
.desc-formatted i{
    color: #fff;
    background-color: #3c8dbc;
    font-size: 15px;
    padding: 0px;
    margin: 0 5px 0 0;
    display: block;
    float: left;
    width: 15px;
    clear: right;
    text-align: center;
    font-weight: bold;
}
.desc-formatted .sc-note{
    padding: 0px 0 5px 22px;
    display: block;
}
.desc-formatted .sc-note em{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    display: block;
    padding-right: 10px;
}

.desc-update{
    width: 100%;
}

.cash-invoice-form{
    clear: both;
}
.cash-invoice-form input{
    width: 70%;
}

a.cash-invoice .on{
    display: none;
}
a.cash-invoice.sent .on{
    display: inline;
}
a.cash-invoice.sent .off{
    display: none;
}


.fc-day-grid-event .fc-content {
    white-space: normal;
    font-size: 13px;
    padding: 1px;
}

#canvas-pad{
    position: relative;
    width: 100%;
    min-height: 200px;
    background-color: #fff;
}
#canvas-pad .inner{
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    border: 1px solid #f4f4f4;
}
#canvas-pad canvas{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}